body{
    background-color: #41aa41;
    color:azure;
    font-family: "Open Sans" ,"Helvetica", "arial";
}
h1{
    color: azure;
    text-align: center;
    font-family: "Fira Sans","Signika","Roboto Condensed", "Trebuchet MS";
}
h2{
    font-family: "Fira Sans", "Signika","Roboto Condensed", "Trebuchet MS";
    text-align: center;
    margin: 0px;
}
h3{
    font-family: "Fira Sans","Signika","Roboto Condensed", "Trebuchet MS";
    text-align: center;
}
h4{
    font-family: "Fira Sans","Signika","Roboto Condensed", "Trebuchet MS";
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
    text-align: center;
}
.hidden{
    visibility: hidden;
    display: none;
}
.visible{
    width: auto;
    height: auto;
    display: block;
    visibility: visible;
}
button{
    background: transparent;
    border: solid 0px azure;
    display: inline;
    color:azure;
    font-family: "Helvetica", "arial";
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    font-style: italic;
}
button:hover{
    border-bottom-width: 2px;
}
li{
    text-decoration: none;
    list-style: none;
}
#register{
    position: fixed;
    float: left;
    top: 25%;
    left:25%;
    width:50%;
    border: solid 2px darkgreen;
    background-color: #fbffff;
    color:green;
    visibility: hidden;
}
#register h4{
    border: solid 0px green;
    border-bottom-width: 2px;
    margin: -2px;
    margin-bottom: 10px;
    padding-bottom: 4px;
}
#register li{
    margin-bottom: 2px;
}
#register input{
    border: solid 2px #41aa41;
    background-color: #feffff;
    color: green;
}
.mainSec{
    border: solid 0px azure;
    margin-top: 0px;
    padding-top: 10%;
    padding-bottom: 15%;
    border-top-width: 4px;
    border-bottom-width: 0px;
    width: 105%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: -2.5%;
    background-color: #41aa41;
}
#updates{
    height:50%;
    width:100%;
    margin-left: -1%;
    border: solid 0px #fff;
}
#poll{
}
.description{
    margin-top: 15px;
    border-bottom-width: 2px;
    margin-right: 5%;
}
.mainDesc{
}
.boardered{
    background-color: azure;
    color: black;
    padding: 2px;
}
input{
    background-color: azure;
    border: solid 0px azure;
    color: #41aa41;
}
ul{
    margin: 0px;
    padding: 2px;
}
.fixed{
    position: fixed;
    margin-bottom: 5px;
    background-color: #41aa41;
    width:100%;
}
#title{
    background-image: url("/static/images/nonDynamic/background.jpg");
    background-size: 100%;
    background-color: #308830;
    width: 110%;
    margin-left: -5%;
    padding-top: 5%;
    margin-top: -5%;
    padding-bottom: 10%;
    align-content: center;
    text-align: center;
}
.updateBlock{
    background-color: #41aa41;
    display: block;
}
#CTAButton{
    position:absolute;
    background-image: url("/static/images/nonDynamic/CTA.png");
    background-size: 100%;
    max-width: 150px;
    max-height: 150px;
    width:20%;
    height:20%;
    min-height: 50px;
    min-width: 50px;
}
#CTAButton:hover{
    background-image: url("/static/images/nonDynamic/CTAa.png");
    border-bottom-width: 0px;
}
#CTACloseButton{
    color: darkgreen;
    min-width: 20px;
    min-height: 10px;
}